<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
        <title>New Post</title>
</head>

<body>
    <h1>New Post</h1>
    <form action="/profile" method="POST">
        <div class="form-group">
            Username:
            <input type="text" class="form-control" name='username' placeholder="think of something creative...">
            Profile Photo:
            <input type="url" class="form-control" name='profilePhoto'placeholder="url of your best photo...">
            Image:
            <input type="url" class="form-control" name='img' placeholder="url of something you want to post...">
            Caption:        
            <input type="text" class="form-control" name="caption" placeholder='write a caption...'/>        
            Tag:        
            <input type="text" class="form-control" name="tag" placeholder='tag something...'/>    
        </div>  
        <input class="btn btn-outline-primary" id='submit' type="submit" >    
    </form>
    
    
</body>
</html>
