@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    width: auto;
    margin: auto ;
    background-image: url('https://i.imgur.com/qeXWLBC.gif');
    background-repeat: repeat-x;

}
.content-container{
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
    width: fit-content;
    height: 999px;
    margin: auto;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nav-left{
    display: flex;
    text-align: left;
    align-items: center;
    margin: 10px;
    font-family: 'Itim', cursive;
    font-size: 30px;
}
#profilePhoto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-right{
    text-align: right;
    position: relative;
}
.nav-right:hover i {
  opacity: 0;
}

.nav-right:hover .btns {
  opacity: 1;
}
.btns {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    
}
.text-container{
    width: 650px;
    margin: auto;
    padding: 20px 0 0 20px;
    
}
#edit{
    margin-right: 10px;
}

img{
    width: 650px;
    height: auto;
    border-radius: 20px;
}

a:visited{
    color: black;
}

a:link{
    text-decoration: none;
}
input:hover{
    cursor: pointer;
}